* {
<<<<<<< HEAD
    box-sizing: border-box; 
=======
    box-sizing: border-box;
>>>>>>> 93a98759a15379b7ad6510bcdb20e692c35f3314
    margin: 0;   
   padding: 0;
 }
 

body{
    background-color: #e0ffff;
<<<<<<< HEAD
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";;
}


=======
}

>>>>>>> 93a98759a15379b7ad6510bcdb20e692c35f3314
header{
    background-color: yellow;
    height: 100px;
}

h1{
    float: left;
    margin-left: 30px;
    margin-top: 30px;
<<<<<<< HEAD
}
=======
} 
>>>>>>> 93a98759a15379b7ad6510bcdb20e692c35f3314

img{
    width: 70px;
    height: 70px;
    margin-left: 50px;
    margin-top: 5px;
    float: left;
}


li{
    float: right;
    list-style-type: none;
    margin: 10px;
    margin-top: 35px;
    font-size: 25px;
    border: solid 2px white;
    border-radius: 30px;
    padding: 6px;
    background-color: white;
 
    
}

a{
    text-decoration: none;
    color:#1e90ff ;
}

a:visited{
   color: #8b008b;
}

a:hover{
    color:  #87cefa;
    text-decoration: underline;
}

a:active{
    color: #3cb371;
}

.main{
    background-color: white;
    height: 500px;
    width: 550px;
    float: left;
    border-radius: 30px;
    margin-left: 250px;
    position: relative;
    
}

.title img{
    width: 300px;
    height: 80px;
    text-align: center;
    position: relative;
    margin-left: 120px;
   
}

h2{
    font-size: 50px;
    position: absolute;
    margin-left: 170px;
    margin-top: 20px;
}

.main-img1 img{
    width: 130px;
    height: 150px;
    position: absolute;right: 410px;top: 90px;
    border: solid 1px black;

}

.book-title1{
    position: absolute;right: 420px;top: 250px;
}

.main-img2 img{
    width: 130px;
    height: 150px;
    position: absolute;right: 280px;top: 90px;
}

.book-title2{
    position: absolute;right: 315px;top: 250px;
}

.main-img3 img{
    width: 150px;
    height: 100px;
    position: absolute;right: 130px;top: 140px;
}

.book-title3{
    position: absolute;right: 140px;top: 250px;
    display: inline-block;
}

.main-img4 img{
    width: 130px;
    height: 150px;
    position: absolute;right: 5px;top:90px;
}

.book-title4{
    position: absolute;right: 5px;top: 250px;
}

.main-img5 img{
    width: 130px;
    height: 150px;
    position: absolute;right: 410px;top:290px;
}

.book-title5{
     position: absolute;right: 420px;top: 450px;
}

.main-img6 img{
    width: 130px;
    height: 150px;
    position: absolute;right: 280px;top:290px;
    border: solid 1px black;
}

.book-title6{
    position: absolute;right: 340px;top: 450px;
     
}

.main-img7 img{
    width: 150px;
    height: 130px;
    position: absolute;right: 130px;top:310px;
}

.book-title7{
    position: absolute;right: 160px;top: 450px;
}

.main-img8 img{
    width: 130px;
    height: 150px;
    position: absolute;right: 10px;top:290px;
}

.book-title8{
     position: absolute;right: 40px;top: 450px;
}

.aside1{
   margin-left:850px ;
   background-color: white;
   height: 250px;
   width: 250px;
   overflow-y: scroll;
   margin-left: 800px;
}


.footer{

    height: 120px;
    margin-top:500px ;
    background-color: #00ffff;
}

