body{
    background-color: #e0ffff;
}

.header{
    background-color: yellow;
    height: 100px;
    position: fixed;
}

h1{
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";;
}

img{
    width: 7%;
    margin-left: 50px;
    margin-top: 5px;
    float: left;
}

li{
    float: right;
    list-style-type: none;
    margin: 10px;
    margin-top: 35px;
    font-size: 25px;
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
    border: solid 2px white;
    border-radius: 30px;
    padding: 6px;
    background-color: white;
 
    
}

a{
    text-decoration: none;
    color:#1e90ff ;
}

a:visited{
   color: #8b008b;
}

a:hover{
    color:  #87cefa;
    text-decoration: underline;
}

a:active{
    color: #3cb371;
}


main{
    background-color: white;
    height: 700px;
    width: 550px;
    margin-top: 70px;
    margin-left: 200px;
    border-radius: 30px;
    float: left;
}

.main-top{
    position: relative;
    left: 80px;
    bottom: 40px
    
}

.main-top p{
    position: relative;
    color: black;
    font-size: 40px;
    right: 247px;
    top: 30px;
    font-family: "ヒラギノ丸ゴ Pro W4","ヒラギノ丸ゴ Pro","Hiragino Maru Gothic Pro","ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","HG丸ｺﾞｼｯｸM-PRO","HGMaruGothicMPRO";
}


.main-top img{
    height: 100px;
    width: 300px;
}

.main-photo1 img{
    width: 18%;
    border: black;
   margin-left:-400px;
    margin-top: 60px;
    border: solid black 1px;
    padding: 5px;
    
}

.main-book-title {
    margin-left: -70px;
    margin-top: 220px;
    
}

.main-photo2 img{
    width: 18%;
    margin-left: 140px;
    margin-top: -142px;
    border: solid black 1px;
    padding: 5px;
   

}

.main-book-title2{
    margin-left: 185px;
    margin-top:-25px;
   
}

.main-photo3 img{
    width: 18%;
    margin-left: 300px;
    margin-top: -142px;
    padding: 5px;
}

.main-photo4 img{
    width: 18%;
    margin-left: 300px;
    margin-top: -142px;
    padding: 5px;
}

.main-book-title3{
    margin-left: 295px;
    margin-top:-25px;
}



aside{
    background-color: white;
    height: 700px;
    width: 250px;
    margin-top: 70px;
    margin-left: 10px;
    border-radius: 30px;
    float: left;
}